<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show指令</title>
    <script src="../plugins/vue.js"></script>
</head>
<body>
    <div id="app6">
        <div v-if="isphone">
            <p>
                <label>手机号</label>
                <input type="text" placeholder="手机号">
            </p>
            <p>
                <label>验证码</label>
                <input type="text" placeholder="验证码">
            </p>
        </div>

        <div v-show="!isphone">
            <p>
                <label>用户名</label>
                <input type="text" placeholder="用户名">
            </p>
            <p>
                <label>密码</label>
                <input type="password" placeholder="密码">
            </p>
        </div>

        <input type="button" value="短信登录" v-on:click="isphone=true">
        <input type="button" value="密码登录" v-on:click="isphone=false">
    </div>

    <div id="app3">
        <ul>
            <li v-for="(item,idx) in datalist">索引值：{{ idx }} - 元素：{{ item }}</li>
        </ul>
    
        <div>
            <label>
                id:<input type="text" v-model="id">
            </label>
            <label>
                name:<input type="text" v-model="name">
            </label>
            <input type="button" value="添加" v-on:click="add">
        </div>
        <ul>
            <li v-for="(elem,idx) in citylist" v-bind:key="elem.id">
                ID: {{ elem.id }} - 值：{{ elem.name }}</li>
        </ul>
    
        <p v-for="(val,key) in info">值：{{val}}---键：{{key}}</p>
    </div>

    <script>
        // v-if每次都重新删除或创建元素；v-show只是切换了元素的display：none样式
        // v-if切换性能消耗高；v-show初始渲染消耗高
        var app = new Vue({
            el:"#app6",
            data:{
                isphone:false,
            }
        })

        var vm = new Vue({
            el: "#app3",
            data: {
                id: '',
                name: '',
                datalist: ["哈桑", "胡适", "国荣"],
                citylist: [
                    { id: 11, name: "广州" },
                    { id: 12, name: "云南" },
                    { id: 13, name: "杭州" },
                ],
                info: {
                    name: "金珠",
                    gender: "女",
                    age: 32
                },
            },
            methods: {
                add() {
                    // this.citylist.unshift({ id: this.id, name: this.name })
                    this.citylist.push({ id: this.id, name: this.name })

                },
            }
        })
    </script>
</body>
</html>