<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <!--h1-h6共6级标题，块级标签，独占一行-->
    <h1>华南师范大学介绍</h1>
    <div>
        <span>时间：</span>
        <span>2023-4-21</span>
    </div>
    <div>欲知更多信息，请点击链接
        <a href="/get/news">打开内部页面</a> <br>
        <span>flask中图片文件夹必须命名为static,可通过static_folder参数修改文件夹名称</span>
        <div>
            <img src="/static/suxi.jpg" style="width:200px;height:300px" >
        </div>
    </div>

    <h2>湖南科技大学</h2>
    <span>行内标签</span><span>分开方便设置样式</span>
    <span>不在同一行的用空格隔开</span>
    <div> 
        外部网页跳转和图片链接使用
    </div>
    <a href="https://www.hnust.edu.cn/">点击打开外部网站</a>
    <img src="https://pic4.zhimg.com/v2-b23f984c2aeaa7bed12e890b4338d499_720w.jpg" />
    
    <h2>韩素喜</h2> 
    <a href="/goods/list">关于韩素喜的更多信息,请点击</a>

    <h1>数据表格</h1>
    <table border="1">
        <thead>
            <tr>  <th>ID</th> <th>姓名</th> <th>年龄</th>  </tr>
        </thead>
        <tbody>
            <tr>  <td>15</td> <td>卢卡库</td> <td>23</td>  </tr>
            <tr>  <td>16</td> <td>卢卡</td> <td>23</td>  </tr>
            <tr>  <td>17</td> <td>卡库</td> <td>23</td>  </tr>
        </tbody>
    </table>

</body>
</html>