<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>

<body>
    <h1>用户注册</h1>
    用户名:<input type="text"> <br>
    密码:<input type="password"> <br>
    <div>
        性别：
        <input type="radio" name="er">男
        <input type="radio" name="er">女
    </div> 

    <div>
        爱好：
        <input type="checkbox">篮球
        <input type="checkbox">羽毛球
        <input type="checkbox">乒乓球
    </div>
    
    <div>
       城市：
        <select>
            <option>北京</option>
            <option>上海</option>
            <option>长沙</option>
        </select>
    </div>
    
    <div>
        备注(输入多行文本)：
        <textarea></textarea> 
    </div>
    
    <input type="file"> <br>
    
    <input type="button" value="注册"> 
    <input type="submit">

</body>
